<nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
  <a class="navbar-brand" href="/"> GuiaPress </a>
  <ul class="navbar-nav d-flex justify-content-start w-75">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles">Artigos</a>
    </li>
  </ul>
</nav>
